<div class="row">
    <div class="col-6 back gray pointer" (click)="backToProjectList()"><img src="../assets/img/pagination_left-chevron.png"> Back</div>
    <div class="col-6">
      <div class="title gray" >
        <b>Add Project</b>
      </div>
    </div>
</div>
<div  class="formcontainer">
    <div class="row">
        <div class="col-md-12" style="padding-left: 50px;">
            <div class="empsection">
                <div class="subheading">Project</div>
                <form #myForm="ngForm">
                    <div class="row" style="padding-top: 16px;">
                        <div class="col-md-6 mt-2">
                            <label class ="heading">Name :</label>&nbsp;&nbsp;
                            <input type="text"  class="inputBox" name="projectName" #projectName="ngModel" [(ngModel)]="model.projectName"  style="width: 430px;" required>
                            <p class="invalid" [class.d-none]="projectName.valid || projectName.untouched"> Name cannot be Blank</p>
                          </div>     
                     </div> 
                   <br>
                    <div class="form-group has-feedback" 
                          [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                      <ckeditor [(ngModel)]="mycontent" 
                                #myckeditor="ngModel"
                                name="myckeditor"
                                [config]="ckeConfig" 
                                debounce="500" 
                                (change)="onChange($event)">
                      </ckeditor>
                    </div>
                    <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
                    </form>
            </div>
        </div>
    </div>
</div>

